# Sensitive credentials
secrets.h
config.h
*.env

# VS Code
.vscode/
*.code-workspace

# Python
__pycache__/
*.pyc
venv/
env/
*.csv
model.joblib

# KiCad
*.bak
*.kicad_pcb-bak
*_bak/
fp-info-cache
*.lck